extends ../../layouts/default.pug

block main
    if(role.permissions.includes("products-category_view"))
        h1 #{pageTitle}

        .card.mb-3 
            .card-header Danh sách
            .card-body
                .row 
                    .col-8 
                    .col-4.text-right
                        if(role.permissions.includes("products-category_create"))
                            a(href =`/${prefixAdmin}/products-category/create` class="btn btn-outline-success") + Thêm mới

                table.table.table-hover.table-sm 
                    thead 
                        tr 
                            th
                            th STT 
                            th Hình ảnh 
                            th Tiêu đề
                            th Vị trí
                            th Trạng thái 
                            th Hành động
                    
                    tbody 
                    each item,index in listCategory
                        tr 
                            td 
                                input(type="checkbox" input-change=item.id)
                            td #{index+1}
                            td 
                                img(src=item.thumbnail, 
                                alt=item.title,width="100px",height="auto")
                            td #{item.title}
                            td 
                                if(role.permissions.includes("products-category_edit"))
                                    input(type="number" value=item.position style="width=60px"
                                    input-position item-id=item.id 
                                    data-path=`/${prefixAdmin}/products-category/change-position`)
                                else 
                                    span #{item.position}
                            td 
                                if(item.status == "active")
                                    a(href="#" class="badge badge-success" button-change-status="inactive"
                                    item-id=item.id data-path=`/${prefixAdmin}/products-category/change-status`) Hoạt động
                                else if(item.status == "inactive")
                                    a(href="#" class="badge badge-danger" button-change-status="active"
                                    item-id=item.id data-path=`/${prefixAdmin}/products-category/change-status`) Dừng hoạt động
                            td 
                                a(class="btn btn-info btn-sm" href=`/${prefixAdmin}/products-category/detail/${item.id}`) Chi tiết 
                                if(role.permissions.includes("products-category_edit"))
                                    a(class="btn btn-warning btn-sm ml-3" href=`/${prefixAdmin}/products-category/edit/${item.id}`) Sửa  
                                if(role.permissions.includes("products-category_delete"))
                                    button(class="btn btn-danger btn-sm ml-3"
                                button-delete item-id=item.id data-path=`/${prefixAdmin}/products-category/delete`) Xóa 
        nav(class="mt-3") 
                ul(class="pagination")
                    if(currentPage > 1)
                        li(class="page-item")
                            button(class="page-link" button-pagination=currentPage-1) Trang trước
                    -   for(var i = 1;i <= totalPage; i++)
                        li(class="page-item")
                            button(class="page-link" button-pagination=i) #{i} 
                    //- if(currentPage < totalPage)
                    //-     li(class="page-item")
                    //-         button(class="page-link" button-pagination=currentPage+1) Kế tiếp    
                    